/* #region Common */
*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

img {
    max-width: 100%;
}

.container_fluid {
    width: 100%;
    margin: auto;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: calc((100% / 7));

}

/* #endregion Common */

/* #region Utilities */
.j_content {
    justify-content: flex-end;
}

.s_between {
    justify-content: space-between;
}
/* #endregion Utilities */

/* #region Body */

/* Header */
.speaker_btn {
    margin: 2rem 1rem;
}

.speaker_btn button {
    background-color: grey;
    color: white;
    padding: 0.5rem;
    font-size: 1.25rem;
    border-radius: 10px;
}
/* /Header */

/* Main */
.col-1 img {
    padding: 0.25rem;
    
}

.user {
    position: relative;
}

.voice {
    padding: 0.25rem;
    position: absolute;
    left: 2%;
    bottom: 5%;
    background-color: rgba(128, 128, 128, 0.506);
    color: white;
}
/* /Main */

/* Footer */
#site_footer {
    background-color: grey;
}

#site_footer .container_fluid {
    padding: 0.75rem 0.5rem;
}

#site_footer button {
    background-color: grey;
    color: white;
    padding: 0.5rem;
    font-size: 2.5rem;
    border: 0;
}
/* /Footer */
/* #endregion Body */